* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* для компа */
@media screen and (min-width: 1024px) {
    .OurCollection__allImagesContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2%;
    }



}
/* для планшета */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .OurCollection__allImagesContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 2%;
    }


}

/* для телефона */
@media screen and (max-width: 767px) {
    .OurStory__imageContainer {
        margin-top: 10%;
    }
    
    .OurCollection__allImagesContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 2%;
    }
    
}

.firstblock {
    background: linear-gradient(152deg, #474747 4.14%, #222222 44.22%);
    width: 100vw;
}

header {
    height: 15vh;
    width: 100vw;
}

.navbar {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 60%;
    padding: 10px;
    margin: 0 0 10px 30%;
}

.logo {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    margin-left: 10%;
    margin-top: 10px;
    padding: 10px;
}

.navbar a {
    color: #C4C4C4;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    padding: 10px;
}

.navbar a:hover {
    color: #FFFFFF;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
}

#project {
    color: #0A72AD;
    font-size: 25px;
}

.weprovide {
    height: 85vh;
    width: 100vw;
    display: flex;
}

.description {
    margin-left: 10%;
    width: 50%;
    height: 75%;
}

.weprovide_header {
    font-size: 3rem;
    color: #FFFFFF;
    line-height: 80px;
}

p {
    color: #C4C4C4;
    font-size: 20px;
    line-height: 40px;
}

.stats {
    width: 50vw;
    height: 30vh;
    display: flex;
    justify-content: space-between;
}

.discover {
    background: linear-gradient(97.65deg, #60BBEE 0.33%, #0A72AD 93.35%);
    box-shadow: 0px 5.37671px 8.06506px rgba(1, 115, 153, 0.2);
    width: 15vw;
    height: 10vh;
    color: #FFFFFF;
    font-weight: 500;
}

.numbers {
    color: #C4C4C4;
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    width: 10vw;
    
}

#numbersid {
color: #FFFFFF;
font-weight: 700;
font-size: 2rem;
}


.ExcellentServices__container {
    background-color: rgba(246, 246, 246, 0.8);
    padding: 40px 65px;
    width: 100vw;
}

.title {
    font-size: 24px;
    font-weight: bold;
    line-height: 2;
    color: #242527;
    margin: 0;
}

.title-container {
    display: flex;
    justify-content: space-between;
}

.subtitle {
    justify-items: end;
    font-size: 9px;
    line-height: 2;
    color: #C4C4C4;
    margin: 0px;
}

.mask-cards img {
    width: 197.86px;
    height: 154.31px;
}

.mask-cards {
    margin-top: 55px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.mask-title {
    font-size: 15px;
    font-weight: bold;
    line-height: 2;
    color: #242527;
    margin: 0;
}

.mask-sudtitle {
    font-size: 9px;
    line-height: 2;
    color: #C4C4C4;
    margin: 0;
}

HEAD .logo-svg {
    padding: 40px 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo1 {
    width: 87px;
    height: 24px;
}

.logo2 {
    width: 76px;
    height: 42px;
}

.logo3 {
    width: 67px;
    height: 29px;
}

.logo4 {
    width: 78px;
    height: 36px;
}

.logo5 {
    width: 117px;
    height: 64px;
}


.MeetAndTalk {
    margin: 10% 10% auto 10%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 3fr 1fr;
}

.MeetAndTalk a:hover {
    text-decoration: none;
}

.OurStory a:hover {
    text-decoration: none;

}

.MeetAndTalk__ImageContainer {
    grid-column: 1/2;
    grid-row: 1/4;
    width: 100%;
    align-self: center;
    position: relative;
}

.MeetAndTalk__Image {
    max-width: 100%;
}


.MeetAndTalk__BlackSquare {
    display: block;
    background: linear-gradient(219.84deg, #474747 4.14%, #222222 44.22%);
    max-height: 50%;
    width: 45%;
    border-radius: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    z-index: 1;
    position: absolute;
    left: 50%;
    bottom: 20%;
}

.BlackSquare__photoContainer {
    grid-row: 1/2;
    grid-column: 2/3;
    padding-top: 30%;
    justify-self: center;
    width: 95%;
}

.BlackSquare__photo {
    max-width: 100%;
}

.BlackSquare__name {
    grid-row: 2/3;
    grid-column: 1/4;
    color: white;
    justify-self: center;
    padding-top: 7%;
    font-weight: 600;
    font-size: 1.5vw;
}

.BlackSquare__description {
    grid-row: 3/4;
    grid-column: 1/4;
    color: #E5E5E5;
    font-size: 1vw;
    justify-self: center;
    padding: 0 10% 10% 10%;
    line-height: 1.7em;
}

.MeetAndTalk__SectionTitle {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-left: 20%;
    color: #242527;
    font-weight: 800;
    font-size: 2.1vw;
    line-height: 1.7em;
}

.MeetAndTalk__SectionDescription {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 35% auto auto 20%;
    color: #C4C4C4;
    font-size: 1vw;
    line-height: 3em;
}

.MeetAndTalk__SectionButtons {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-left: 20%;
    display: flex;
    margin-top: 80%;
}

.MeetAndTalk__ButtonContainer {
    width: 100%;

}

.MeetAndTalk__Button {
    text-decoration: none;
    color: white;
    background-color: #0A72AD;
    padding: 10%;
    font-size: 1vw;
    box-shadow: 0px 10px 15px 0px rgba(1, 115, 153, 0.2);
}

.MeetAndTalk__LinkContainer {
    width: 100%;
    font-size: 1vw;

}

.MeetAndTalk__Link {
    text-decoration: none;
    color: #242527;
    font-weight: bold;
}

.MeetAndTalk__LinkPicture {
    width: 7%;
    max-width: 10%;
    margin: 4% auto auto 7%;
}

.OurStory {
    width: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 10% 10% auto 10%;
}

.OurStory__description {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

.OurStory__title {
    grid-row: 1/2;
    color: #242527;
    font-weight: 800;
    font-size: 2.1vw;
    line-height: 1.7em;
}

.OurStory__descriptionText {
    grid-column: 1/2;
    grid-row: 2/3;
    color: #C4C4C4;
    font-size: 1vw;
    line-height: 3em;
    height: fit-content;
    align-self: center;
}

.OurStory__ButtonContainer {
    grid-column: 1/2;
    grid-row: 3/4;

}

.OurStory__Button {
    text-decoration: none;
    color: white;
    background-color: #0A72AD;
    padding: 3% 6% 3% 6%;
    font-size: 1vw;
    box-shadow: 0px 10px 15px 0px rgba(1, 115, 153, 0.2);
    margin-bottom: 20%;
    margin-top: 10%;
}

.OurStory__imageContainer {
    width: 100%;
}

.OurStory__image {
    max-width: 100%;
}


#news {
    background-color: #FFFFFF;
    margin-bottom: 20%;
    width: 100%;
    padding: 10%;
}

.title-news {
    color: #242527;
    font-weight: 800;
    font-size: 2.1vw;
    line-height: 1.7em;
}

.data {
    width: 45px;
    font-weight: 600;
    font-size: 28px;
    line-height: 21px;
    float: left;
    height: 30px;
    padding-top: 7px;
}

.month {
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
}

.card-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    height: 20%;

}

.card-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    text-align: start;
}


.WhatWeHaveDone {
    position: absolute;
    width: 70%;
    height: 65%;
    background: linear-gradient(158deg, #474747 4.14%, #222222 44.22%);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.08);
    color: #FFFFFF;
    margin-left: 15%;
    margin-top: -290px;
}

.text-whatWeHave {
    float: right;
    width: 55%;
    padding: 5% 4%;
}

#title-Have {
    width: 70%;
}

#text-Have {
    padding-top: 7%;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #C4C4C4;
}

.next-comment {
    text-align: end;
    padding-top: 15%;
}

#left-button {
    border: 0cm;
    background-color: transparent;
}

#right-button {
    border: 0cm;
    background-color: #0A72AD;
    width: 57px;
    height: 57px;
    margin-left: 3%;
}

.comments-WhatWeHave {
    float: left;
    width: 40%;
    padding: 5% 5%;
}

.customer {
    width: 80%;
}

.comment {
    background-color: #FFFFFF;
    color: #242527;
    position: absolute;
    width: 15vw;
    height: auto;
    margin-left: 13%;
    margin-top: -10%;
}

.marks {
    position: absolute;
    width: 30%;
    margin-top: -12%;
    margin-left: 35%;
}

#customer-name {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #242527;
    padding: 15% 10% 0 20%;
}

#customer-comment {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #939393;
    padding: 0 10% 10% 10%;
}

.footer {
    background: linear-gradient(158deg, #474747 4.14%, #222222 44.22%);
    box-shadow: 0px 10px 15px rgba(151, 151, 151, 0.12);
    height: 90vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 50% 45%;
    gap: 5%;
    color: white;
}

.footer-media {
    background-color: #2a4150e7;
    border-radius: 2000px;
    border: 0cm;
    width: 42px;
    height: 42px;
}

#icon-google:hover {
    background: conic-gradient(from 45deg, red, orange, yellow, green, blue, purple);
    transition: 0.7s;
}

#icon-twitter:hover {
    background-color: rgb(21, 146, 203);
    transition: 0.6s;
}

#icon-insta:hover {
    background: linear-gradient(rgb(107, 11, 190), rgb(229, 188, 25));
    transition: 0.6s;
}

#icon-in:hover {
    background-color: rgb(53, 92, 221);
    transition: 0.6s;
}

.general {
    grid-column: 1/4;
    grid-row: 2/3;
    padding-left: 20%;
}

.company {
    grid-column: 4/5;
    grid-row: 2/3;
}

.more {
    grid-column: 5/6;
    grid-row: 2/3;
}

.footer-link {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
}

.footer-link:hover {
    color: antiquewhite;
    text-decoration: none;
}

.footer-title {
    padding-bottom: 30px;
}

.footer-text {
    width: 80%;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 15px;
}

.company-link {
    display: flex;
    flex-flow: column wrap;
}

.more-link {
    display: flex;
    flex-flow: column wrap;
}

.OurCollection {
    margin: 10%;
}

.OurCollection__title {
    color: rgba(36, 37, 39, 1);
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 1.7em;
    margin-bottom: 5%;
}

.OurCollection__allImagesContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;

}
.OurCollection__imageContainer {
    width: 100%;
    
}

.OurCollection__image {
    max-width: 100%;
    object-fit: cover;
}

.Treasury {
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 1fr;
    align-self: baseline;
}

.OurCollection__image_Treasury {
    grid-row: 1/3;
    grid-column: 1/2;
    max-width: 100%;
    object-fit: cover;
}

.TreasuryTower__Container {
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: rgba(255, 255, 255, 1);
    margin: 5%;
    max-width: 100%;
    z-index: 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.TreasuryTower__text {
    grid-column: 1/2;
    margin: 15% auto auto 9%;
}

.TreasuryTower__text1{
color: rgba(36, 37, 39, 1);
font-size: 0.7rem;
font-weight: 600;
}

.TreasuryTower__text2 {
    font-size: 0.5rem;
    color: rgba(196, 196, 196, 1);
    font-weight: 500;
    margin-top: 5%;
}

.TreasuryTower__button {
    grid-column: 2/3;
    background: #0A72AD;
    margin: 15%;
    width: auto;
    
}

.TreasuryTower__arrow {
    grid-column: 2/3;
    max-width: 50%;
    margin: 33% auto auto 20%;

}